.content {
  margin-left: 15%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: var(--Sbackground);
  border: 2px solid var(--outline);
}

.word-table th,
.word-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid var(--outline);
  color: var(--text);
}

.word-table th {
  background-color: var(--Cbackground);
  color: var(--HighlightText);
}

.word-row:hover {
  background-color: var(--Cbackground);
}

.button {
  padding: 8px 16px;
  margin: 2px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.edit-button {
  background-color: var(--Sbackground);
  color: var(--text);
  box-shadow: 0 6px var(--text);
}

.edit-button:hover {
  color: var(--HighlightText);
  box-shadow: 0 10px var(--HighlightText);
  transform: translateY(-4px);
}

.edit-button:active {
  box-shadow: 0 2px var(--text);
  transform: translateY(2px);
}

.delete-button {
  background-color: var(--error);
  color: var(--white);
  box-shadow: 0 6px darkred;
}

.delete-button:hover {
  box-shadow: 0 10px darkred;
  transform: translateY(-4px);
}

.delete-button:active {
  box-shadow: 0 2px darkred;
  transform: translateY(2px);
}

.save-button {
  background-color: var(--Sbackground);
  color: rgb(0, 255, 0);
  box-shadow: 0 6px darkgreen;
  display: none;
}

.save-button:hover {
  box-shadow: 0 10px darkgreen;
  transform: translateY(-4px);
}

.save-button:active {
  box-shadow: 0 2px darkgreen;
  transform: translateY(2px);
}

.cancel-button {
  background-color: var(--Sbackground);
  color: var(--text);
  box-shadow: 0 6px gray;
  display: none;
}

.cancel-button:hover {
  box-shadow: 0 10px gray;
  transform: translateY(-4px);
}

.cancel-button:active {
  box-shadow: 0 2px gray;
  transform: translateY(2px);
}

.input-field {
  width: 90%;
  padding: 8px;
  background: var(--Sbackground);
  border: 2px solid var(--outline);
  color: var(--text);
  border-radius: 4px;
}

.input-field:focus {
  outline: none;
  border-color: var(--HighlightText);
}
