.mainMenuButtons {
  margin-top: 100px;
  margin-bottom: auto;
  display: inline;
  margin-left: 13%;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.mainMenuButtons .highlightOnHoverButton {
  width: 25vw;
  height: 38vh;
  font-size: 60px;
  margin: 30px;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
}
