<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajánlott angol szó</title>
    <link rel="stylesheet" href="../static/styles/global.css" />
    <link rel="stylesheet" href="../static/styles/themes/themeDark.css" />
    <link rel="stylesheet" href="../static/styles/components/autonew.css">
  </head>
  <body>
    <main>
      <div class="wordDisplay" style="height: 120px">
        <h1 id="word">...</h1>
      </div>
      <div class="wordDisplay" style="height: 120px">
        <h1 id="translation">...</h1>
      </div>
        <div class="buttonList">
        <button class="highlightOnHoverButton" onclick="dismissSuggestion()">X</button>
        <a href="{{url_for('routeToIndex')}}"><button class="highlightOnHoverButton">⏎</button></a>
        <button class="highlightOnHoverButton" onclick="acceptSuggestion()">✓</button>
    </main>
    <script src="../static/js/autonew.js"></script>
  </body>
</html>
