{% extends 'base.html' %} {% block title %}Kártyák{% endblock %} {% block
head_extra %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/components/cards.css') }}" />
{% endblock %} {% block content %}
<button id="addCardBtn" class="highlightOnHoverButton addCardBtn">
  Új kártya
</button>
<a href="{{url_for('routeToIndex')}}"
  ><button id="backBtn" class="highlightOnHoverButton addCardBtn">⤶</button></a
>
<button id="deleteBtn" title="Törlés">Törlés</button>
<div id="cardsArea" style="height: 100%"></div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/cards.js') }}"></script>
{% endblock %}
