<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kártyák</title>
    <link rel="stylesheet" href="../static/styles/global.css" />
    <link rel="stylesheet" href="../static/styles/components/cards.css" />
    <script src="../static/js/styleLoader.js"></script>
    <link
      id="themeStylesheet"
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/themes/' + (theme or 'themeDark') + '.css') }}" />
  </head>
  <body>
    <button id="addCardBtn" class="highlightOnHoverButton">Új kártya</button>
    <a href="{{url_for('routeToIndex')}}">
      <button id="addCardBtn" class="highlightOnHoverButton">⤶</button></a
    >
    <div id="cardsArea" style="height: 100%"></div>
    <script src="../static/js/cards.js"></script>
    <script src="../static/js/themeChange.js"></script>
  </body>
</html>
