<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Words</title>
    <link rel="stylesheet" href="../static/styles/global.css" />
    <script src="../static/js/styleLoader.js"></script>
    <link
      id="themeStylesheet"
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/themes/' + (theme or 'themeDark') + '.css') }}" />
    <link rel="stylesheet" href="../static/styles/components/edit.css" />
  </head>
  <body>
    <div class="sidenav">
      <a href="{{url_for('routeToIndex')}}">Főoldal</a>
      <a href="{{url_for('routeToEdit')}}">Szavak kezelése</a>
      <a href="{{url_for('routeToSettings')}}">Beálltások</a>
      <a href="{{url_for('routeToStatistics')}}">Statisztika</a>
      <a href="{{url_for('logout')}}">Kijelentkezés</a>
    </div>

    <div class="content">
      <h1>Szavak Szerkesztése</h1>
      <table class="word-table">
        <thead>
          <tr>
            <th>Szó</th>
            <th>Fordítás</th>
            <th>Műveletek</th>
          </tr>
        </thead>
        <tbody id="wordsList">
          <!-- Words will be populated here -->
        </tbody>
      </table>
    </div>

    <script src="../static/js/edit.js"></script>
    <script src="../static/js/themeChange.js"></script>
  </body>
</html>
