{% extends 'base.html' %} {% block title %}Szerkesztés{% endblock %} {% block
head_extra %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/components/edit.css') }}" />
{% endblock %} {% block content %}
<button
  id="menuToggle"
  class="menu-toggle"
  aria-label="Open menu"
  aria-expanded="false">
  ☰
</button>
<div id="overlay" class="overlay" aria-hidden="true"></div>
<main>
  <div class="sidenav" id="sidenav" role="navigation" aria-label="Main menu">
    <a href="{{url_for('routeToIndex')}}">Főoldal</a>
    <a href="{{url_for('routeToEdit')}}">Szavak kezelése</a>
    <a href="{{url_for('routeToSettings')}}">Beálltások</a>
    <a href="{{url_for('routeToStatistics')}}">Statisztika</a>
    <a href="{{url_for('logout')}}">Kijelentkezés</a>
  </div>

  <div class="content" role="main" aria-labelledby="page-heading">
    <h2 id="page-heading" class="sr-only">Szavak Szerkesztése</h2>

    <table class="word-table" aria-describedby="words-desc">
      <caption id="words-desc" class="sr-only">
        A felhasználó szavai és fordításaik
      </caption>
      <thead>
        <tr>
          <th>Szó</th>
          <th>Fordítás</th>
          <th>Műveletek</th>
        </tr>
      </thead>
      <tbody id="wordsList"></tbody>
    </table>
  </div>
</main>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/edit.js') }}"></script>
{% endblock %}
