<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gecis vizsgaprojekt</title>
    <link rel="stylesheet" href="../static/styles/global.css" />
    <link rel="stylesheet" href="../static/styles/themes/themeDark.css" />
    <link rel="stylesheet" href="../static/styles/components/mainMenu.css" />
  </head>
  <body>
    <main>
      <div class="sidenav">
        <a href="">Fiók</a>
        <a href="{{url_for('routeToEdit')}}">Szavak kezelése</a>
        <a href="">Beálltások</a>
        <a href="{{url_for('routeToStatistics')}}">Statisztika</a>
        <a href="{{url_for('logout')}}">Kijelentkezés</a>
      </div>

      <div>
        <table class="mainMenuButtons">
          <tr>
            <td>
              <a href="{{url_for('routeToPractice')}}"
                ><button class="highlightOnHoverButton">Random</button></a
              >
            </td>
            <td>
              <a href="{{url_for('routeToPractice')}}?mode=learning"
                ><button class="highlightOnHoverButton">Gyakorlás</button></a
              >
            </td>
            <td>
              <a href="{{url_for('routeToCards')}}"
                ><button class="highlightOnHoverButton">Kártyák</button></a
              >
            </td>
          </tr>
          <tr>
            <td>
              <a href="{{url_for('routeToNew')}}"
                ><button class="highlightOnHoverButton">
                  Új szó hozzáadása
                </button></a
              >
            </td>
            <td>
              <a href="{{url_for('routeToNewRandom')}}"
                ><button class="highlightOnHoverButton">
                  Új random szó
                </button></a
              >
            </td>
            <td>
              <a href="{{url_for('routeToNewRandom')}}?mode=suggested"
                ><button class="highlightOnHoverButton">
                  Új ajánlott szó
                </button></a
              >
            </td>
          </tr>
        </table>
      </div>
    </main>
  </body>
</html>
