<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gecis vizsgaprojekt</title>
    <link rel="stylesheet" href="../static/styles/global.css" />
    <link rel="stylesheet" href="../static/styles/themes/themeDark.css" />
    <link rel="stylesheet" href="../static/styles/components/mainMenu.css" />
  </head>
  <body>
    <main>
      <div class="sidenav">
        <a href="index.html">Főoldal</a>
        <a href="">Fiók</a>
        <a href="">Szavak kezelése</a>
        <a href="">Beálltások</a>
        <a href="">Statisztika</a>
        <a href="">Kijelentkezés</a>
      </div>

      <div>
        <table class="mainMenuButtons">
          <tr>
            <td>
              <a href="{{url_for('routeToPractice')}}"
                ><button class="highlightOnHoverButton">Random</button></a
              >
            </td>
            <td>
              <a href="{{url_for('routeToPractice')}}"
                ><button class="highlightOnHoverButton">Gyakorlás</button></a
              >
            </td>
            <td>
              <a href="cards.html"
                ><button class="highlightOnHoverButton">Összes</button></a
              >
            </td>
          </tr>
          <tr>
            <td>
              <a href="{{url_for('routeToNew')}}"
                ><button class="highlightOnHoverButton">
                  Új szó hozzáadása
                </button></a
              >
            </td>
            <td>
              <a href="autonew.html"
                ><button class="highlightOnHoverButton">
                  Új random szó
                </button></a
              >
            </td>
            <td>
              <a href="autonew.html"
                ><button class="highlightOnHoverButton">
                  Új ajánlott szó
                </button></a
              >
            </td>
          </tr>
        </table>
      </div>
    </main>
    <center>
      <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required />
        <button type="submit">Register</button>
      </form>

      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required />
        <button type="submit">Login</button>
      </form>
    </center>
  </body>
</html>
