<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Üdv!</title>
    <link rel="stylesheet" href="../static/styles/global.css" />
    <link rel="stylesheet" href="../static/styles/themes/themeDark.css" />
    <link rel="stylesheet" href="../static/styles/components/landing.css" />
  </head>
  <body>
    <div class="container">
      <!-- Placeholder Text Section -->
      <section class="placeholder-section">
        <div class="placeholder-text">
          <p>
            Felhasználóink eddig <b>{PLACEHOLDER}</b> darab szókártyát hoztak
            létre.
          </p>
          <p>
            Ez <b>{PLACEHOLDER}</b> m<sup>2</sup>, azaz
            <b>{PLACEHOLDER}</b> gramm papírt jelent, aminek az előállításához
          </p>
          <p><b>{PLACEHOLDER}</b> fa</p>
          <p><b>{PLACEHOLDER}</b> kWh energia</p>
          <span>és</span>
          <p><b>{PLACEHOLDER}</b> hl víz</p>
          <p>kellett volna.</p>
        </div>
      </section>

      <!-- Auth Forms Section -->
      <section class="auth-section">
        <!-- Login Form -->
        <div class="form-container">
          <div class="title">Bejelentkezés</div>
          {% if login_error %}
          <div class="error-message">{{ login_error }}</div>
          {% endif %}
          <form action="/login" method="POST">
            <input
              type="text"
              name="username"
              placeholder="Add meg a felhasználóneved"
              class="inputField"
              required />
            <input
              type="password"
              name="password"
              placeholder="Add meg a jelszavad"
              class="inputField"
              required />
            <button type="submit" class="highlightOnHoverButton">
              Bejelentkezés
            </button>
          </form>
        </div>
        <!-- Register Form -->
        <div class="form-container">
          <div class="title">Regisztráció</div>
          <form action="/register" method="POST">
            <input
              type="text"
              name="username"
              placeholder="Válassz felhasználónevet"
              class="inputField"
              required />
            <input
              type="password"
              name="password"
              placeholder="Adj meg egy jelszót"
              class="inputField"
              required />
            <button type="submit" class="highlightOnHoverButton">
              Regisztráció
            </button>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
