<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fasz</title>
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/themes/themeDark.css" />
    <link rel="stylesheet" href="../styles/components/mainMenu.css" />
  </head>
  <body>
    <main>
      <div class="sidenav">
        <a href="index.html">Főoldal</a>
        <a href="">Fiók</a>
        <a href="">Szavak kezelése</a>
        <a href="">Beálltások</a>
        <a href="">Statisztika</a>
        <a href="">Kijelentkezés</a>
      </div>

      <div class="mainMenuButtons">
        <a href="practice.html"
          ><button class="highlightOnHoverButton">PLACEHOLDER</button></a
        >
        <a href="practice.html"
          ><button class="highlightOnHoverButton">PLACEHOLDER</button></a
        >
      </div>
    </main>
  </body>
</html>
