{% extends 'base.html' %} {% block title %}Új szó{% endblock %} {% block
head_extra %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/components/new.css') }}" />
{% endblock %} {% block content %}
<main>
  <div>
    <center><h1>Új szó</h1></center>
    <div class="inputFielddiv">
      <input id="word" class="inputField" type="text" placeholder="Új szó" />
    </div>
    <center><h1>Forditása</h1></center>
    <div class="inputFielddiv">
      <input
        id="translation"
        class="inputField"
        type="text"
        placeholder="Forditás" />
    </div>
  </div>
  <br />
  <div class="buttonList">
    <a href="{{url_for('routeToIndex')}}" class="menu-button small"
      ><button class="highlightOnHoverButton">Vissza</button></a
    >
    <button id="addButton" class="highlightOnHoverButton">Hozzáadás</button>
  </div>
</main>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/new.js') }}"></script>
{% endblock %}
