.sidenav {
  display: block;
  height: 100%;
  width: 13%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.highlightOnHoverButton {
  transition: 0.3s;
}

a {
  text-decoration: none;
}

.buttonList {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  text-align: center;
  align-content: center;
  align-items: center;
  width: 400px;
  display: flex;
  gap: 5px;
}

.buttonList button {
  flex: 1;
  width: 100%;
  height: 50px;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
}
.buttonList a {
  flex: 1;
  display: block;
}

.inputFielddiv {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  text-align: center;
  align-content: center;
  align-items: center;
}

.inputField {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  text-align: center;
  align-content: center;
  align-items: center;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  width: 400px;
  height: 40px;
  font-size: 30px;
}

.wordDisplay {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  text-align: center;
  border-width: 3px;
  border-radius: 2px;
  border-style: solid;
  align-content: center;
  align-items: center;
}

.highlightOnHoverButton {
  transition: all 0.1s ease-in-out;
  transform: translateY(0);
  position: relative;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.highlightOnHoverButton:hover {
  transform: translateY(-4px);
}

.highlightOnHoverButton:active {
  transform: translateY(2px);
}
#addCardBtn {
  position: fixed;
  top: 32px;
  left: 32px;
  z-index: 100;
  padding: 12px 26px;
  font-size: 1.2em;
}

#addCardBtn {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: relative;
}

#addCardBtn:active {
  transform: translateY(2px);
}
